body {
	font-family: Tahoma, sans-serif;
    /*font-family: 'Source Sans Pro', sans-serif;*/
	color: #000;
	background-color: #fff;
	margin: 0;
	padding: 0;
}

a {
	color: #000;
	text-decoration: underline;
}

a:hover {
	text-decoration: underline;
	color: Fuchsia;
	cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='33' height='40' viewport='0 0 100 100' style='fill:black;font-size:20px;'><text y='50%'>🌈</text></svg>") 16 0,auto; /*!emojicursor.app*/
}

/* Header styles */
header {
	background-color: #000;
	color: #fff;
	padding: 1rem;
}

header h1 {
	margin: 0;
	font-size: 6rem;
  margin-bottom: 15px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	font-weight: bold;
}

nav li {
	display: inline-block;
	margin-right: 1rem;
    background-color: #fff;
}

nav li:last-child {
	margin-right: 0;
}

nav a {
	display: inline-block;
	padding: 0.5rem 1rem;
	color: Fuchsia;
}

/* Main content styles */
main {
	padding: 1rem;
}

section {
	margin-bottom: 2rem;
}

h2 {
	font-size: 1.5rem;
	margin-top: 0;
}

h3 {
    font-weight: inherit;
}

ul {
	margin-top: 0;
}

li {
	margin-bottom: 0.5rem;
}

/* Footer styles */
footer {
	background-color: #000;
	color: #fff;
	padding: 1rem;
	text-align: center;
	font-size: 0.9rem;
}

footer a {
    color: #fff;
    text-decoration: underline;
}

footer a:hover {
	color: lime;
	text-decoration: underline;
	cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='33' height='40' viewport='0 0 100 100' style='fill:black;font-size:20px;'><text y='50%'>🪄</text></svg>") 16 0,auto; /*!emojicursor.app*/
}